body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    margin: 0;
    padding: 0;
}

header {
    background: #4f46e5;
    padding: 20px;
    text-align: center;
    color: white;
}

h1, h2 {
    margin: 0;
    padding: 10px;
}

.input-section, .resultado-section, .lista-section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background: #4338ca;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background: #eef2ff;
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e5e7eb;
    margin: 8px 0;
    padding: 12px;
    border-radius: 8px;
}